@model hospital_reservation_system.Models.AppointmentCreateViewModel

@await Html.PartialAsync("_logout")

@using (Html.BeginForm(
    "Create",
    "Appointment",
    FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <div class="container mt-5">
        <div class="card border-dark">
            <div class="card-body text-center">

                <h4 class="mb-4 fw-bold">Add a New Doctor Appointments</h4>

                <div class="row justify-content-center mb-2">
                    <div class="col-md-6">
                        <div class="row align-items-center mb-3">
                            <label class="col-sm-4 col-form-label fw-semibold text-end">
                                Doctor
                            </label>
                            <!-- this drop down list is for doctors-->
                            <div class="col-sm-8">
                                <select id="doctorDd"
                                        name="SelectedDoctorId"
                                        class="form-select">
                                    <option value="">-- Select --</option>

                                    @foreach (var d in Model.Doctors)
                                    {
										// hwere we are joining the time slot ids of the doctors appointments if there any 
                                        var slots = string.Join(",", d.Appointments.Select(d=> d.TimeSlotId));
                                        <option value="@d.Id"
                                                data-slots="@slots">
                                            @d.Name
                                        </option>
                                    }
                                </select>
                            </div>


                        </div>

                        <!-- display the time slots-->
                        <div id="slotsContainer" class="d-flex flex-wrap gap-3 justify-content-start">
                            @foreach (var s in Model.TimeSlots)
                            {
                                
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                               class="slotCb form-check-input"
                                               name="SelectedTimeSlot"
                                               value="@s.Id"
                                               @(Model.SelectedTimeSlot.Contains(s.Id) ? "checked" : "") />
                                        @s.Time
                                    </label>
                                </div>
                            }
                        </div>


                    </div>
                    @if (ViewData.ModelState.ErrorCount > 0)
                    {
                        <div id="formError">

                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>

                    }

                </div>
                <button type="submit" id="saveBtn"
                        class="btn btn-outline-dark px-5">
                    Submit
                </button>

            </div>
        </div>
    </div>
}
